* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    width: 284px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color:transparent;
}