#carousel-container{
    width: 100%;
    height: 732px;
    background-color: #fffcee;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.carousel-bg-image{
    background-image: url('../../src/CarouselImages/carouselrecktangle.png');
    background-size: 'cover';
    width: 1360px;
    height: 421px;
    position: absolute;
    bottom: 15%;
    left:5%;
    z-index: 0;
}
.carousel-title{
    width: 1280px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.carousel-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}