#container {
    width: 80%;
    height: 816px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.content {
    width: 1280px;
    height: 496px;
    margin-left: 8%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.text-container{
    margin-left: 10%;
    width: 520px;
    height: 274px;
    background-color: #ffffff;

}
.image{
    background-color: 'rgba(0, 0, 0, 0)'

}
.title{
    font-weight: 700;
}